.bg-img{
    background-image: url("../image/headphone.jpg");
    background-size: cover;
    background-position: center;
}
.menubar{
    background-color: #fac769;
}
.notline:hover{
    text-decoration: none;
    background-color: lightgray !important;
}
.text-size{
    font-size:70px;
    color: orange;
}